<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="./public/vendor/font-awesome/css/all.min.css" rel="stylesheet">
  <link type="text/css" href="./public/vendor/argon/css/argon.css" rel="stylesheet">
  <link type="text/css" href="./public/css/main.css" rel="stylesheet">
</head>

<body>


<main>
  <section class="section bg-default signup-login-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="card bg-secondary shadow border-0">
            <div class="card-body px-lg-5 py-lg-5">
              <h1 class="text-center mb-4">Login</h1>
              <form id="login-form" method="post" action="/login">
                <div class="form-group">
                    <label for="username">Username</label>
                    <div class="input-group input-group-alternative" data-toggle="tooltip" data-placement="top" data-html="true" title="username is case-insensitive">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                      </div>
                      <input class="form-control" placeholder="Username" name="username" id="username">
                    </div>
                </div>
                
                <div class="form-group">
                  <label for="password">Password</label>
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-lock"></i></span>
                    </div>
                    <input class="form-control" placeholder="Password" type="password" name="password" id="password">
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary my-4">Login</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>


</body>
</html>