<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="./public/vendor/font-awesome/css/all.min.css" rel="stylesheet">
  <link type="text/css" href="./public/vendor/argon/css/argon.css" rel="stylesheet">
  <link type="text/css" href="./public/css/main.css" rel="stylesheet">
</head>

<body>


<main>
    <!-- {{!-- Basic Info --}} -->
    <section class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <div class="avatar-container">
                    <img src="{{ Owner.avatar }}" class="img-fluid avatar" alt="Owner avatar">
                    </div>
                </div>
                <div class="col-9">
                    <div class="dog-info-container">
                        <h1><span id="Owner-name"></span>{{ Owner.name }}</span></h1>
                        <h2>Owner email:</h2>
                        <p id="Owner-email">{Owner.email}</p><br>
                        <h2>Type:</h2>
                        <p id="property-type">{property.type}</p><br>
                        <h2>Size:</h2>
                        <p id="property-type">{property.type}</p><br>
                        <h2>Prize:</h2>
                        <p id="property-type">{property.type}</p><br>
                    </div>
                    <button id="edit-property-profile-button" class="btn btn-primary my-3" data-toggle="modal" data-target="#edit-property-profile-modal">Edit</button>
                </div>
            </div>
        </div>
    </section>

    <!-- modal for edit profile -->
    <div class="modal fade" id="edit-property-profile-modal" tabindex="-1" role="dialog" aria-labelledby="edit-property-profile-modal-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 id="edit-property-profile-modal-title" class="modal-title">Edit Profile</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>

                <form id="edit-property-form">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="edit-property-form-name">Name</label>
                            <input type="text" id="edit-property-form-name" class="form-control" placeholder="name" name="name">
                        </div>
                        <div class="form-group">
                            <label for="edit-property-form-type">Type</label>
                            <select id="edit-property-form-type" class="custom-select form-control" name="type">
                                {{#each types}}
                                <option value="{{this}}">{{this}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Gender</label>
                            <div class="radio-group row-fluid text-center">
                                <div class="col-4 p-0">
                                    <input class="radio" type="radio" id="edit-property-form-gender-male" name="gender" value="Male">
                                    <label for="edit-property-form-gender-male">Male</label>
                                </div>
                                <div class="col-4 p-0">
                                    <input class="radio" type="radio" id="edit-property-form-gender-female" name="gender" value="Female">
                                    <label for="edit-property-form-gender-female">Female</label>
                                </div>
                                <div class="col-4 p-0">
                                    <input class="radio" type="radio" id="edit-property-form-gender-other" name="gender" value="Other">
                                    <label for="edit-property-form-gender-other">Other</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="edit-property-form-dob">Date of Birth</label>
                            <input id="edit-property-form-dob" class="form-control" name="dob" placeholder="Select date" type="text" autocomplete="off">
                        </div> 
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Update</button>
                        <button type="button" class="btn btn-link ml-auto" data-dismiss="modal">Close</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <!-- Photo -->
    <section class="m-4">
        <div class="container">
            <h1>Photos</h1>
            <p {{#if photos}}style="display: none"{{/if}} id="no-data-found-alert-photo" class="no-data-found-alert">No photos found. Welcome to upload your lovely photos.</p>
            <button class="btn btn-primary my-2" data-toggle="modal" data-target="#upload-photo-modal">Upload photo</button>
            <div id="photos" class="row">
                <!-- photos -->
                <div class="col-lg-3 col-6 my-3 dog-img-container">
                    <button type="button" class="btn btn-danger btn-sm btn-round btn-shadow btn-delete-photo position-absolute">delete</button>
                    <a href="{{ photo }}" data-alt="dog photos" data-lightbox="photos">
                        <img id="{{ id }}" src="{{ photo }}" class="dog-img img-fluid rounded w-100" alt="dog photos">
                    </a>
                </div>
                <!-- photos -->
            </div>
            <div class="text-center">
                <button id="load-more-photos" data-current-page="1" {{#if isPhotoLastPage}} style="display: none" {{/if}} class="btn btn-secondary">Load More</button>
            </div>
        </div>
    </section>

    <!-- modal for upload photo -->
    <div class="modal fade" id="upload-photo-modal" tabindex="-1" role="dialog" aria-labelledby="upload-photo-modal-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 id="upload-photo-modal-title" class="modal-title">Upload photo</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>

                <form id="upload-photo-form" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="upload-photo-form-file">Photo</label>
                            <button type="button" id="upload-photo-btn" class="btn btn-primary">Choose file</button>
                            <p id="uploaded-photo-name" class="uploaded-file-name"></p>
                            <input type="file" id="upload-photo-form-file" class="btn btn-primary d-none" name="photo" accept="image/*">
                        </div>    
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Upload</button>
                        <button type="button" class="btn btn-link ml-auto" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    

    <section class="m-4">
        <div class="container">
            <h1>Description</h1>
            <div id="Description" class="row">
                <div class="container">
                    <a>Description<br>Description</a>
                </div>
            </div>
            <button id="edit-property-description-button" class="btn btn-primary my-3" data-toggle="modal" data-target="#edit-property-description-modal">Edit description</button>
        </div>
    </section>

    
    <!-- modal for edit description -->
    <!-- <div class="modal fade show" id="edit-property-description-modal" tabindex="-1" role="dialog" aria-labelledby="edit-property-description-title" style="display: block; padding-right: 21px;" aria-modal="true"> -->
    <div class="modal fade" id="edit-property-description-modal" tabindex="-1" role="dialog" aria-labelledby="edit-property-description-modal-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 id="edit-property-description-modal-title" class="modal-title">Edit description</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>

                <form id="edit-property-form">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="edit-property-form-description">Description:</label>
                            <textarea type="text" id="edit-property-form-description" rows = "15" cols = "80" class="form-control" placeholder="description" name="description"> 
                                description
                            </textarea>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Update</button>
                        <button type="button" class="btn btn-link ml-auto" data-dismiss="modal">Close</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    
</main>


</body>
</html>