<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="./public/vendor/font-awesome/css/all.min.css" rel="stylesheet">
  <link type="text/css" href="./public/vendor/argon/css/argon.css" rel="stylesheet">
  <link type="text/css" href="./public/css/main.css" rel="stylesheet">
</head>

<body>


<main>
    <section class="section">
        <div class="container">
        <h1 class="mb-5">All propertys</h1>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-6 mb-4">
                <div class="card">
                    <a href="/Property/id" >
                    <div class="card-body">
                        <img class="card-img" src="image.jpg" alt="address">

                        <h2 class="display-4">Address</h2>
                        <p class="card-text">
                            owner 
                            type
                        </p>
                    </div>
                    </a>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-4 col-6 mb-4">
                <div class="card">
                    <a href="/Property/id" >
                    <div class="card-body">
                        <img class="card-img" src="image.jpg" alt="address">

                        <h2 class="display-4">Address</h2>
                        <p class="card-text">
                            owner 
                            type
                        </p>
                    </div>
                    </a>
                </div>
            </div> 
            
            <div class="col-lg-3 col-md-4 col-6 mb-4">
                <div class="card">
                    <link href="/Property/id" >
                    <div class="card-body">
                        <img class="card-img" src="image.jpg" alt="address">

                        <h2 class="display-4">Address</h2>
                        <p class="card-text">
                            owner, 
                            type
                        </p>
                    </div>
                    </link>
                </div>
            </div> 
        </div>


        <nav>
            <ul class="pagination justify-content-center">

            <li class="page-link" class="page-item" key="PreviousPage" refresh="true">
                <Link to={`/property/page/${page.pn}`}>
                    <i class="fa fa-angle-left"></i>
                </Link>
            </li>


            <li class="page-item {{@active} class="page-item" key="PreviousPage" refresh="true">
                <Link to={`/property/page/${page.pn}`}>
                    <a class="page-link">pn</a>
                </Link>
            </li>

            <li class="page-link" class="page-item" key="NextPage" refresh="true">
                <Link to={`/property/page/${page.pn}`}>
                    <i class="fa fa-angle-right"></i>
                </Link>
            </li>

            </ul>
        </div>
    </section>
</main>


</body>
</html>