@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

main {
    min-height: 380px;
}

.footer.has-cards {
    margin-top: 0px;
    padding-top: 0px;
}

.footer.has-cards:before {
    display: none;
}

.btn-delete-photo {
    display: none;
    right: 15px;
    top: 10px;
    z-index: 99;
}

.dog-img-container:hover .btn-delete-photo{
    display: block;
}

.btn-delete-property {
    display: none;
    right: 15px;
    top: 15px;
    z-index: 99;
}

.property-card:hover .btn-delete-property{
    display: block;
}

.btn-edit-property {
    display: none;
    right: 95px;
    top: 15px;
    z-index: 99;
}

.property-card:hover .btn-edit-property{
    display: block;
}

.avatar {
    width: 100%;
    height: auto;
}

.single-comment {
    padding: 0 30px 0 10px;
    margin: 30px 0;
}

.single-comment .comment-content {
    margin-bottom: 8px;
    padding: 20px 35px;
    background: #e7f0ff;
    border-radius: 15px;
    margin-left: 16px;
    word-break: break-word;
}

.single-comment .comment-content p {
    color: #333;
    padding : 0px;
    margin: 0px;
}

.single-comment .comment-date {
    font-size: 12px;
}

#comment-form textarea {
    margin: 10px 0;
}

.dog-health-info h2, .dog-info-container h2{
    font-size: 24px;
    display: inline;
}

p.no-data-found-alert {
    font-size: 24px;
    color: #32315d;
}

.dog-health-info p, .dog-info-container p{
    font-size: 30px;
    font-weight: 400;
    display: inline;
    color: #475dda;
    margin-left: 5px;
    margin-right: 15px;
}

#comment-form label {
    font-size: 24px;
}

.alert-message {
    pointer-events: all;
    position: fixed;
    top: 5%;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    z-index: 9999;
}

.hide-chart {
    height: 0 !important;
    overflow: hidden;
}

.footer .nav .nav-item .nav-link {
    color: #333 !important;
}

.avatar-container {
    width: 100%;
    padding-bottom: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.avatar-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.form-control {
    color: #32315d !important;
}

.alert-danger {
    background-color: #b73a51;
}

.alert-success {
    background-color: #008b17;
}

.close {
    opacity: .9;
    color: #fff;
    margin-left: 10px;
}

.close:hover, .close:focus {
    color: #fff;
}

.close-dark {
    opacity: .9;
    color: #32315d;
    margin-left: 10px;
}

.close-dark:hover, .close-dark:focus {
    color: #32315d;
}

label {
    color: #32315d;
    font-size: 16px;
    margin-bottom: 6px;
}

.signup-login-section {
    height: 100vh;
    min-height: 670px;
}

.tooltip-inner {
    min-width: 50px;
    max-width: 350px;
    text-align: left;
    padding: 10px 25px;
}

.uploaded-file-name {
    font-size: 16px;
    font-weight: 400;
    color: #32315d;
    word-break: break-word;
    display: contents;
}

.radio-group {
    border: solid 1px #cad1d7;
    display: block;
    border-radius: 5px;
    overflow: hidden;
}

.radio-group div {
    float: left;
    border-left: 1px solid #cad1d7;
}

.radio-group div:first-child {
    border: 0;
}

.custom-select {
    box-shadow: none;
}

p.card-text {
    font-size: 15px;
    margin: 0px;
    color: #475dda;
    font-weight: 400;
}

.card-text-gender {
    color: #32315d;
}

.user-description p {
    font-size: 22px;
    font-weight: 400;
    color: #32315d;
}

.text-warning {
    color: #c54000 !important;
}

.home-health-management-section h2{
    font-size: 22px;
}

.page-link {
    color: #32315d;
}

.card-img-left {
    width: 100%;
    /* border-top-left-radius: calc(.25rem - .0625rem);
    border-bottom-left-radius: calc(.25rem - .0625rem); */
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.property-card {
    border: 2px solid #ececec;
}

.property-card .description { 
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.property-card .title { 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.icon-group {
    margin-left: -25px;
}

.icon-group .fas {
    margin-right: 10px;
    margin-left: 25px;
}

.icon-group .fas:first {
    margin-left: 25px;
}

.icon-group p {
    font-weight: 500;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.single-property .description p{
    font-weight: 500;
    font-size: 18px;
    word-wrap: break-word;
}

.property-card .description {
    font-weight: 600;
    line-height: 1.5;
    font-size: 14px;
}

.property-add, .property-watch-empty {
    border: 2px dashed #ececec;
    height: 200px;
    align-items: center;
}
.property-add p, .property-watch-empty p {
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    margin: 0;
    color: #525e7f;
}
.property-add p .fas, .property-watch-empty p .fas {
    font-size: 60px;
}
.property-add a, .property-watch-empty a{
    width: 100%;
    height: 100%;
}

.dropdown-item.active, .dropdown-item:active {
    text-decoration: none;
    color: #000;
    background-color: #e8e8e8;
}

.sr-only {
    color: #fff !important;
}

.page-item .sr-only{
    color: #333 !important;
}

/* Loading */

.lds-facebook {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 40%;
    margin-left: -40px;
    width: 80px;
    height: 80px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #414f67;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }
  
/* image */
.img-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-preview {
    border: 2px solid #ececec;
}

.img-preview-container:hover .btn-delete-preview {
    display: block;
}

.image-upload:focus {
    outline: 0;
}

.btn-delete-preview {
    display: none;
    right: 15px;
    top: 15px;
    z-index: 99;
}

.carousel-item img{
    max-height: 450px;
    object-fit: contain;
}

.carousel {
    background: #22262b;
}

.avatar-edit-container {
    width: 50%;
    margin: 0 auto;
    cursor: pointer;
}

.avatar-container:focus {
    outline: 0;
}

.avatar-edit-container:hover .overlay {
    opacity: 0.5;
}
  
.avatar-edit-container .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .2s ease;
    background-color: #122441;
    border-radius: 50%;
}

.avatar-edit-container .text {
    /* background-color: #000; */
    color: #000;
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.avatar-edit-container:hover .text {
    color: white;
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.home-selected-property .title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-word;
    font-size: 19px;
    font-weight: 500;
}

span.input-group-text.disabled {
    opacity: 1;
    background-color: #e9ecef;
}